.navbar{
    background-color:#686868;
}

#box4{
    background-color: #BFBFBF;
}

.h1{
    color: #E8E8E8;
}

p{
    color: #4C4C4C;
}

.navbar-dark .navbar-nav .nav-link{
    color: #BFBFBF;
 }

.btn{
    color: #E8E8E8;
    background-color: #686868;
}
.DictionaryBg{
    background-color: #686868;
}

.SpeakText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.GrammarText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

#search{
    background-color: #4c110f;
}

.alphabet{
    background-color: #9E9E9E;
}

.btnplusminus{
    background-color: #9E9E9E;
}

.allbg {
    background-color: #9E9E9E;
}
.navbar-dark .navbar-brand{
    color: #BFBFBF;
}

.navbar-dark .navbar-brand:hover{
    color: #e9ecef;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #BFBFBF;
}
.navbar-brand{
    color: #BFBFBF;
}