.navbar{
    background-color: #9E9E9E;
}

#box4{
    background-color: #686868;
}

.h2{
    color: #E8E8E8;
}

p{
    color: #4C4C4C;
}

.nav-link{
    color: #BFBFBF;
}

.navbar-brand{
    color: #686868;
}

.btn{
    color: #E8E8E8;
    background-color: #9E9E9E;
}
.DictionaryBg{
    background-color: #686868;
}

.SpeakText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.GrammarText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}