.navbar{
    background-color: #0E103D;
}

.btnplusminus{
    background-color: #A5668B;
}

#box4{
    background-color: #A5668B;
}

.navbar-brand{
    color: #69306D;
}

h1{
    color: #D3BCC0;
}

p{
    color: #69306D;
}

.btn{
    color: #F2D7EE;
    background-color: #69306D;
}

.DictionaryBg{
    background-color: darkblue;
}
.SpeakText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.GrammarText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

#search{
    background-color: #4c110f;
}

.alphabet{
    background-color: #4c110f;
}

 .allbg {
     background-color: #A5668B;
 }


.navbar-dark .navbar-brand{
    color: #69306D;
}

.navbar-dark .navbar-brand:hover{
    color: #69306D;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #69306D;
}
.navbar-brand{
    color: #69306D;
}