.navbar{
    background-color: #0E103D;
}

.nav-link{
    color: #69306D;
}

#box4{
    background-color: #A5668B;
}

.navbar-brand{
    color: #69306D;
}

h2{
    color: #D3BCC0;
}

p{
color: #D3BCC0;
}

.btn{
    color: #F2D7EE;
    background-color: #69306D;
}

.DictionaryBg{
    background-color: darkblue;
}