.navbar{
    background-color: #01161E;
}

#box4{
    background-color: #1d2124;
}
h2{
    color: #0b2e13;
}

p{
color: #01161E;
}

.nav-link{
    color: #e9ecef;!important;
}

.DictionaryBg{
    background-color: white;
}


.navbar-brand{
    color: #686868;
}

.btn{

    color: #E8E8E8;
    background-color: #9E9E9E;
}
.SpeakText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.GrammarText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.custom-switch::after {



    font-size: 25px;






}