.navbar{
    background-color: #01161E;
}

#box4{
    background-color: #e9ecef;
}
h1{
    color: #01161E;
}

p{
color: #01161E;
}

.nav-link{
    color: #e9ecef;!important;
}
.nav-link:hover{
    color: #e9ecef;
}
.DictionaryBg{
    background-color: white;
}


.navbar-brand{
    color: #686868;
}

.btn{

    color: #E8E8E8;
    background-color: #9E9E9E;
}
.SpeakText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.GrammarText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.fa-user-circle{

  color: #e9ecef;
}
#search{
    background-color: #ffffff;
}