.navbar{
    background-color: #6f42c1;
}

.btnplusminus{
    background-color: #e9ecef;
}
#box4{
    background-color: #e9ecef;
 }

.h1{
    color:  #69306D;
}

p ,.txt{
    color:  #69306D;
}

.nav-link{
     color: #007bff;
 }

.nav-link:hover{
    color: #e9ecef;
}

.btn{
    color: #F2D7EE;
    background-color: #69306D;
}

.DictionaryBg{
    background-color: darkblue;
}

.SpeakText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.GrammarText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}


html, .allbg{
    background-color: #007bff;!important;
}

.navbar-dark .navbar-brand{
    color:  darkblue;
}

.navbar-dark .navbar-brand:hover{
    color:  darkblue;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color:  darkblue;
}
.navbar-brand{
    color:  darkblue;
}
