.navbar{
    background-color: #6f42c1;
}

#box4{
     background-color: #20c997;
 }

.h2{
    color: #0b2e13;
}

p{
    color: #ced4da;
}

.nav-link{
     color: #007bff;
 }

.btn{
    color: #F2D7EE;
    background-color: #69306D;
}

.DictionaryBg{
    background-color: darkblue;
}

.SpeakText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.GrammarText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}
/*p,h2,.nav-link{*/
/*    font-size: 30px;*/
/*}*/
