.navbar{
    background-color: #968C8B;
}

.btnplusminus{
    background-color: #F9F9F9;
}


#box4{
    background-color: #F9F9F9;
}

.h1{
    color: #D87575;
}

p{
    color: #D87575;
}

.nav-link{
    color: #D87575;
}

.nav-link:hover{
    color: #D87575;
}

.btn{
    color: #F2D7EE;
    background-color: #D87575;
}

.SpeakText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.GrammarText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}


.allbg{
    background-color: #F9F9F9;
}

.navbar-dark .navbar-brand{
    color:  #F9F9F9;
}

.navbar-dark .navbar-brand:hover{
    color:  #F9F9F9;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #F9F9F9;
}
.navbar-brand{
    color:  #F9F9F9;
}