.navbar{
    background-color: #ACB7BC;
}

#box4{
    background-color: #87A653;
}

h2{
    color: #BA957F;
}

p{
    color: #BA957F;
}

.nav-link{
    color: #F9F9E4;
}


.navbar-brand{
    color: #87A653;
}

.btn{
    color: #87A653;
    background-color: #ACB7BC;
}

.DictionaryBg{
    background-color: #87A653;
}

.SpeakText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}

.GrammarText{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
}
